body {
  background-color: #a52a2a;
}

#main-logo {
  height: auto;
  width: 350px;
  min-width: 150px;
}

#navbarNav {
  margin: 10px 0px 10px 0px;

}

.jumbotron {
  background-image: url(../images/webBanner.png);
  background-size: cover;
  text-align: center;
}

.jumbotron img {
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
}

.aboutBanner {
  background-image: url(../images/webBanner.png);
  background-size: cover;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
}

.contactBanner {
  background-image: url(../images/webBanner.png);
  background-size: cover;
  width:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
}

#card-rest-text {
  font-style: italic;
  font-size: 0.9rem;
}

#card-review-text {
  height: 75px;
}

.mf-chart {
  text-align: center;
}

img {
  width: 75%;
  height: auto;
}

p {
  margin: 0;
}

#caption {
  font-size: 0.9rem;
}

#store-name, #rest-card-text {
  font-size: 1rem;
  
}

#store-name {
  height: 45px;
}

#rest-card-text {
  font-size: 0.9rem;
}

#review-card-top {
  height: 222px;
  width: 332px;
}

#store-results {
  max-height: 450px;
  overflow: auto;
}



#review-icon {
  height: 42px;
  width: 42px;
}

#review-section {
  background-color: white;
  border-radius: 5px;
  max-height: 950px;
  overflow: auto;
}

#review-card:hover {
  border: 2px solid #a52a2a;

}

.customer-container {
  background-color: white;
}

.noborder {
  border: none;
  width:250px;
  margin-top: 20px;
}

.customer-text {
  height: 200px;
  width: auto;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #293039;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 50px;
  height: 100px;
padding-top: 20px;
}

#career-row {
  border-radius: 5px;
}